<nav class="nav__container">
  <a href="/" class="Anchor_style">
    <div class="company">
      <div class="company__logo">
        <svg
          class="company__logo"
          viewBox="0 0 85 60"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="fa-solid:tractor">
            <path
              id="Vector"
              d="M70.1261 39.375C63.6713 39.375 58.4384 43.9922 58.4384 49.6875C58.4384 55.3828 63.6713 60 70.1261 60C76.5809 60 81.8138 55.3828 81.8138 49.6875C81.8138 43.9922 76.5809 39.375 70.1261 39.375ZM70.1261 52.5C68.369 52.5 66.9385 51.2379 66.9385 49.6875C66.9385 48.1371 68.369 46.875 70.1261 46.875C71.8832 46.875 73.3136 48.1371 73.3136 49.6875C73.3136 51.2379 71.8832 52.5 70.1261 52.5ZM80.7513 18.75H72.2511V14.0391C72.2511 12.3844 72.8754 10.7859 73.9976 9.4875C74.5847 8.80781 74.4691 7.83985 73.8223 7.20352L70.9495 4.3711C70.065 3.49805 68.5164 3.56016 67.669 4.4625C65.1562 7.13672 63.751 10.5246 63.751 14.0391V18.75H50.1601L42.7105 3.41485C42.2211 2.40098 41.4045 1.53658 40.3623 0.929349C39.32 0.322122 38.0983 -0.00108389 36.8494 2.73095e-06H19.1253C15.6097 2.73095e-06 12.7502 2.52305 12.7502 5.625V22.7953C11.604 22.0066 9.96641 22.0383 8.91319 22.9676L4.78132 26.6133C3.64045 27.6199 3.64045 29.2523 4.78132 30.259L5.45337 30.852C4.79062 31.9371 4.26335 33.0574 3.87154 34.2176H2.92192C1.30822 34.2176 0 35.3719 0 36.7957V41.952C0 43.3758 1.30822 44.5301 2.92192 44.5301H3.87022C4.26335 45.6914 4.78929 46.8106 5.45204 47.8969L4.78 48.4898C3.63912 49.4965 3.63912 51.1289 4.78 52.1356L8.91186 55.7813C10.0527 56.7879 11.9028 56.7879 13.0437 55.7813L13.7158 55.1883C14.9456 55.7731 16.2153 56.2383 17.5302 56.584V57.4219C17.5302 58.8457 18.8384 60 20.4521 60H26.296C27.9097 60 29.2179 58.8457 29.2179 57.4219V56.5852C30.5327 56.2395 31.8025 55.7742 33.0323 55.1895L33.7044 55.7824C34.8452 56.7891 36.6953 56.7891 37.8362 55.7824L41.9681 52.1367C43.109 51.1301 43.109 49.4977 41.9681 48.491L41.296 47.8981C41.9588 46.8129 42.4861 45.6926 42.8779 44.5324H43.8288C45.4425 44.5324 46.7507 43.3781 46.7507 41.9543V41.2512H57.4476C60.3576 37.8539 64.9277 35.6262 70.1261 35.6262C72.6018 35.6262 74.9167 36.1664 77.0059 37.0559L83.7555 31.1004C84.5524 30.3973 85 29.4434 85 28.4484V22.5C85.0013 20.4293 83.0981 18.75 80.7513 18.75ZM23.3754 48.75C17.5076 48.75 12.7502 44.5523 12.7502 39.375C12.7502 34.1977 17.5076 30 23.3754 30C29.2431 30 34.0005 34.1977 34.0005 39.375C34.0005 44.5523 29.2431 48.75 23.3754 48.75ZM26.2973 18.75H21.2503V7.5H35.4469L40.9122 18.75H26.2973Z"
              fill="white"
            />
          </g>
        </svg>
      </div>
      <div class="company__name">-smart-agriculture</div>
    </div>
  </a>
  <div class="nav__links">
    <div class="nav__link">
      <a href="#footer" class="Anchor_style">Contact</a>
    </div>
  </div>
</nav>
