<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="javascript/signup.js" defer></script>
  </head>
  <body>
    <%- include('header'); -%>

    <div class="formgroup">
      <div class="wrapper">
        <div class="title-text">
          <div class="title login">Login as</div>
          <div class="title signup">Login as</div>
        </div>
        <div class="form-container">
          <div class="slide-controls">
            <input type="radio" name="slide" id="login" checked />
            <input type="radio" name="slide" id="signup" />
            <label for="login" class="slide login">Farmer</label>
            <label for="signup" class="slide signup">Distributor</label>
            <div class="slider-tab"></div>
          </div>

          <div class="form-inner">
            <form action="/loginfarmer" method="POST" class="login">
              <div class="field">
                <input type="text" placeholder="Email Address" name="email" />
              </div>
              <p>OR</p>
              <div class="field">
                <input
                  type="text"
                  placeholder="Contact Number"
                  name="contactNo"
                />
              </div>
              <div class="field">
                <input
                  type="password"
                  placeholder="Password"
                  name="password"
                  required
                />
              </div>
              <div class="pass-link">
                <a href="#">Forgot password?</a>
              </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Login" />
              </div>
            </form>

            <form action="/logincompany" method="POST" class="signup">
              <div class="field">
                <input type="text" name="cemail" placeholder="Email Address" />
              </div>
              <p>OR</p>
              <div class="field">
                <input
                  type="text"
                  name="ccontactNo"
                  placeholder="Contact Number"
                />
              </div>
              <div class="field">
                <input
                  type="password"
                  name="cpassword"
                  placeholder="Password"
                  required
                />
              </div>
              <div class="pass-link">
                <a href="#">Forgot password?</a>
              </div>
              <div class="field btn">
                <div class="btn-layer"></div>
                <input type="submit" value="Login" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('footer'); -%>
  </body>
</html>
