:root {
  --white: #fff;
  --primary: #5693d5;
  --color-white: #fff;
  --color-primary: rgb(59, 58, 58);
  --color-secondary: black;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@media screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

body {
  margin: 0;
  overflow: hidden !important;
  font-family: "Source Sans 3", sans-serif !important;
  color: var(--white);
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 4.5rem;
  color: #352720;
  line-height: 1;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--light {
  color: #f9f7f6;
}
.heading-2--dark {
  color: #352518;
}

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
}

.heading-4 {
  font-size: 1.9rem;
}
.heading-4--light {
  color: #f9f7f6;
}
.heading-4--dark {
  color: #352518;
}

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #b28451;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-hg {
  margin-bottom: 8rem;
}

.nav__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  background-color: #252525;
}
@media screen and (max-width: 37.5em) {
  .nav__container {
    justify-content: center;
  }
}

.nav__links {
  width: 50vh;
  font-size: 2rem;
  color: #d8dddb;
  display: flex;
  justify-content: space-evenly;
}
.Anchor_style {
  text-decoration: none;
  color: white;
  outline: none;
}
.Anchor_style:hover {
  color: grey;
}
.nav__link_weather {
  text-decoration: none;
  color: white;
}
.company {
  display: flex;
}
.company__name {
  color: aliceblue;
  font-size: 4rem;
  font-weight: 700;
}
.company__logo {
  width: 6rem;
}

.header {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(27, 27, 27, 0.534), rgba(1, 1, 1, 0.7)),
    url("https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80");
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%); */
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.content {
  width: 100%;
  text-align: center;
}

.content .logo {
  width: 50%;
  position: absolute;
  top: 1rem;
  left: 2vw;
}

.content h1 {
  font-size: 4.5em;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  margin-bottom: 7rem;
  margin-top: -10rem;
}

.content h2 {
  font-size: 2.5em;
  letter-spacing: 0.7rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-bottom: 7rem;
  margin-top: -5rem;
}

.content .social_icons {
  position: absolute;
  width: 10%;
  left: 90%;
  bottom: 10%;
}

.content .social_icons:before {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--white);
  position: absolute;
  top: -100%;
}

.content .social_icons a {
  margin: 1rem 0px;
  color: var(--white);
  display: block;
  text-decoration: none;
  font-size: 3em;
  transition: 0.5s;
}

.content .social_icons a:hover {
  color: var(--primary);
}

.arrow {
  text-align: center;
  margin: 1% 0;
}

.arrow .fa {
  font-size: 3rem;
  color: var(--white);
  font-weight: 200;
  text-decoration: none;
}

.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.content .button {
  position: relative;
  top: 5rem;
}

.searchBox {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  gap: 2rem;
}

.searchButton {
  cursor: pointer;
  color: white;
  float: right;
  width: auto;
  padding: 1rem 3rem;
  border-radius: 5rem;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border: 0;
  font-style: normal !important;
  font-weight: 600;
  text-align: center;
  border: 1px solid var(--white);
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

@media screen and (max-width: 62.5em) {
  .content h1 {
    font-size: 2em;
  }
}

@media screen and (max-width: 50em) {
  .content {
    width: 100%;
    padding: 1rem;
  }
  .content .logo {
    width: 20%;
  }
  .content h1 {
    font-size: 1.5em;
  }
  .content .social_icons {
    position: absolute;
    width: 100%;
    top: 75%;
    left: -1%;
    display: flex;
    justify-content: center;
  }
  .content .social_icons a {
    margin: 0 1.5rem;
  }
  .content .social_icons:before {
    content: "";
    width: 0px;
    height: 0%;
    top: 0%;
  }
  .searchBox:hover > .searchButton {
    font-size: 1.3rem;
    white-space: nowrap;
  }
  .searchBox:hover {
    display: flex;
    width: 100%;
  }
}

.features {
  background-color: rgb(206, 198, 192);
  padding: 5rem;
  padding-bottom: 10rem;
}
.features__heading {
  font-size: 3.5rem;
  text-align: center;
  padding: 5rem;
  color: #302a22;
}
.features__box {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.box-wrapper {
  width: 352px;
  margin: 0 auto;
  border-radius: 1px;
  background: #d8d5d5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.box-photo {
  display: block;
  position: relative;
  height: 300px;
  padding: 30px;
  width: 100%;
  box-shadow: 2rem 0.1rem 3rem rgba(0, 0, 0, 0.349);
}
.box-photo-1 {
  background-image: url(https://wallpapercave.com/wp/wp2661490.jpg);
  background-size: cover;
}
.box-photo-2 {
  background-image: url(https://thepeninsulaqatar.com/get/maximage/20220816_1660637604-473.jpeg?1660637604);
  background-size: cover;
}
.box-photo-3 {
  background-image: url(https://www.ubi.com.tr/wp-content/uploads/2019/05/302.jpg);
  background-size: cover;
}

.box-photo p {
  position: absolute;
  top: 180px;
  font-family: "Raleway", sans-serif;
  font-size: 33px;
  font-style: normal;
  font-weight: 300;
  color: #fff;
  line-height: 40px;
  text-shadow: 1px 1px 1px 0.1 #000;
}

.feature-photo:hover .buttons,
.feature-photo:hover a {
  opacity: 1;
}

.buttons {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  white-space: nowrap;
}

.buttons a {
  display: block;
  position: absolute;
  left: 120px;
  width: 120px;
  padding: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  opacity: 0;
}

a.view {
  top: 40%;
  background: rgba(0, 0, 0, 0.85);
  -webkit-transition: background 0.2s ease-in;
  -ms-transition: background 0.2s ease-in;
  -moz-transition: background 0.2s ease-in;
  -o-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  border: 2px solid #000;
}

.view:hover {
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  border: 2px solid #fff;
}

.info {
  display: block;
  position: relative;
  padding: 30px;
  background-color: #645f5f;
  box-shadow: 2rem 0.1rem 3rem rgba(0, 0, 0, 0.349);
}

.info h4 {
  position: relative;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  color: #fff;
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
}

.info h4::after {
  display: block;
  position: absolute;
  bottom: 0px;
  content: "";
  width: 40px;
  height: 2px;
  background: #3b86c4;
}

.info .description {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  color: #c2ced8;
  line-height: 1.8;
  text-shadow: 1px 1px 1px 0.1 #000;
}

.readmore {
  padding-left: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #858485;
  text-decoration: none;
  -webkit-transition: background-color 0.14s ease-out, color 0.14s ease-out;
  -moz-transition: background-color 0.14s ease-out, color 0.14s ease-out;
  -ms-transition: background-color 0.14s ease-out, color 0.14s ease-out;
  -o-transition: background-color 0.14s ease-out, color 0.14s ease-out;
  transition: background-color 0.14s ease-out, color 0.14s ease-out;
}

.readmore:hover {
  color: #fff;
}

.section__testimonials {
  background-color: rgb(204, 202, 202);
  text-align: center;
  padding: 3rem;
}
.section__testimonials__container {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

.mycard {
  height: 100%;
  width: 100%;
  max-width: 30rem;
}

.cardtitle {
  font-weight: bold;
  color: black;
  text-align: center;
}

.cardimg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  max-height: 6rem;
  border-radius: 9999px;
}

.carddescription {
  text-align: center;
}

.slider {
  width: 100%;
  min-height: 37rem;
  margin-top: 0;
  color: #000;
}

.slider input {
  display: none;
}

.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 375px;
  perspective: 500px;
  margin-top: 5rem;
  overflow: hidden;
}

.testimonials .item {
  max-width: 30rem;
  border-radius: 1.5rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgba(30, 58, 138, var(--tw-border-opacity));
  top: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  padding: 30px;
  width: 45rem;
  height: 35rem;
  text-align: center;
  transition: transform 0.4s;
  /* -webkit-transform-style: preserve-3d; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  user-select: none;
  cursor: pointer;
}

.testimonials .item img {
  transform: scale(1.35);
  margin-top: 15px;
  width: 7rem;
  border-radius: 50%;
  border: 1px solid #3b344d;
}

.testimonials .item p {
  color: rgba(0, 0, 0, 0.829);
  font-size: 2rem;
}

.testimonials .item h2 {
  font-size: 2rem;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots label {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413b52;
  margin: 7px;
  transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked ~ .dots label[for="t-1"] {
  transform: scale(2);
  background-color: #fff;
}

#t-1:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}

#t-1:checked ~ .testimonials label[for="t-1"] {
  z-index: 4;
}

#t-1:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 3;
}

#t-1:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 2;
}

#t-1:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
  z-index: 1;
}

#t-1:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(1200px) translateZ(-360px) translateY(-60px);
}

/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
  transform: scale(1.5);
}

#t-2:checked ~ .dots label[for="t-2"] {
  transform: scale(2);
  background-color: #fff;
}

#t-2:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}

#t-2:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
}

#t-2:checked ~ .testimonials label[for="t-2"] {
  z-index: 3;
}

#t-2:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}

#t-2:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
  z-index: 1;
}

#t-2:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(900px) translateZ(-270px) translateY(-45px);
}

/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}

#t-3:checked ~ .dots label[for="t-3"] {
  transform: scale(2);
  background-color: #fff;
}

#t-3:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}

#t-3:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
}

#t-3:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
}

#t-3:checked ~ .testimonials label[for="t-3"] {
  z-index: 3;
}

#t-3:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}

#t-3:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(600px) translateZ(-180px) translateY(-30px);
}

/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}

#t-4:checked ~ .dots label[for="t-4"] {
  transform: scale(2);
  background-color: #fff;
}

#t-4:checked ~ .dots label[for="t-5"] {
  transform: scale(1.5);
}

#t-4:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
}

#t-4:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
}

#t-4:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 2;
}

#t-4:checked ~ .testimonials label[for="t-4"] {
  z-index: 3;
}

#t-4:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(300px) translateZ(-90px) translateY(-15px);
}

/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}

#t-5:checked ~ .dots label[for="t-5"] {
  transform: scale(2);
  background-color: #fff;
}

#t-5:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-1200px) translateZ(-360px) translateY(-60px);
}

#t-5:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-900px) translateZ(-270px) translateY(-45px);
  z-index: 1;
}

#t-5:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-600px) translateZ(-180px) translateY(-30px);
  z-index: 2;
}

#t-5:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(-300px) translateZ(-90px) translateY(-15px);
  z-index: 3;
}

#t-5:checked ~ .testimonials label[for="t-5"] {
  z-index: 4;
}

.footer {
  padding: 4rem 7rem 1rem 6rem;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.footer .footer__container {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}
@media screen and (max-width: 37.5em) {
  .footer .footer__container {
    flex-wrap: wrap;
    padding: 1rem;
  }
}
.footer .footer__container .header__brand__name__footer {
  font-size: 4rem;
  font-weight: 600;
  line-height: 0.8;
  color: var(--color-white);
}
.footer .footer__container .header__brand__name__footer--title {
  color: #b28451;
}
.footer .footer__container__about {
  width: 50%;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (max-width: 37.5em) {
  .footer .footer__container__about {
    flex-wrap: wrap;
    width: 100%;
    margin-left: 1rem;
  }
}
.footer .footer__container__about--text {
  color: var(--color-white);
  font-size: 1.7rem;
}
.footer .footer__container__contact {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--color-white);
  font-size: 1.5rem;
}
@media screen and (max-width: 37.5em) {
  .footer .footer__container__contact {
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
  }
}
.footer .footer__container__contact__heading {
  font-size: 2.7rem;
}
.footer .footer__container__contact__link,
.footer .footer__container__contact__link:active,
.footer .footer__container__contact__link:visited {
  text-decoration: none;
  color: inherit;
}
.footer .social_media {
  display: flex;
  gap: 3rem;
}
.footer .icon {
  transition: all 0.2s;
  height: 3rem;
  fill: var(--color-white);
}
.footer .icon:hover {
  transform: translateY(-0.15rem);
  transform: scale(1.2);
}
.footer .icon-facebook:hover {
  fill: #0066ff;
}
.footer .icon-whatsapp:hover {
  fill: #02af11;
}
.footer .icon-insta:hover {
  fill: #f54b67;
}
.footer .icon-mail:hover {
  fill: #cf0a0a;
}
.footer .icon-twitter:hover {
  fill: #1e7fee;
}
.footer .icon-youtube:hover {
  fill: red;
}

.hr__line {
  background-color: #776565;
  height: 1px;
  width: 83vw;
}

.copyright {
  margin-top: -2rem;
  font-size: 1.7rem;
  color: var(--color-white);
  font-family: "lato";
  font-style: italic;
}
@media screen and (max-width: 37.5em) {
  .copyright {
    width: 110%;
  }
}
